################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PavelNemec.slnx/FileContentIndex/5d2d48b6-cbf2-4a91-b43d-9ed715770400.vsidx
/.vs/PavelNemec.slnx/FileContentIndex/aa85a339-cfa1-4102-816d-54eb388bbe19.vsidx
/.vs/PavelNemec.slnx/FileContentIndex/f5a67d77-e82e-41b1-852c-73b386563af7.vsidx
/.vs/PavelNemec.slnx/FileContentIndex/e66e07da-e536-4165-b7ad-cc93a4501007.vsidx
